[submodule "public/plugins/turtle"]
	path = public/plugins/turtle
	url = https://github.com/Botly-Studio/plugin-turtle.git
[submodule "public/plugins/robot"]
	path = public/plugins/robot
	url = https://github.com/Botly-Studio/plugin-robot.git
[submodule "public/plugins/prettycode"]
	path = public/plugins/prettycode
	url = https://github.com/Botly-Studio/plugin-prettycode.git
